{
  "presets": [
    [
      "@babel/preset-env",

      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "syntax-dynamic-import",
    "universal-import"
  ]
}
